<div >
		<div class="style4">
		    <form action ="/add_product" enctype="multipart/form-data"  method = "post" > 	
				<input  id="input1" name="product_type" placeholder="product_types" >	
				</br></br> 
				<input  id="input1" name="product_subtype" ng-model="product_subtype" placeholder="product_subtype" >	   	
				</br></br>
                <input  id="input1" name="product_description"  placeholder="product_description" ng-model="product_description" >
				<br></br>
				
				<input type="date" id="input1" name="date_of_manufacture"  placeholder="date_of_manufacture" ng-model="date_of_manufacture" >
				<br></br>
				<input  id="input1" name="product_price"  placeholder="product_price" ng-model="product_price" >
				<br></br>
				
				<input  id="input1" type="file" name="my_image" ng-model="my_image">
				
				<input type="submit" class="btn btn-info btn-lg btn-block" value="Add" />
              
			</form>
			    
                
        

                
               
	</div>	 

 </div>