<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="templates/productdetails.html">
          <img src="images/saree1.jpg" alt="Sorry cant load image" style="width:100%">
          <div class="caption">
            <h4>Pasmina sarees</h4>
            <p> Price 500 </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="templates/productdetails.html" target="_blank">
          <img src="images/saree2.jpg" alt="Sorry cant load image" style="width:100%">
          <div class="caption">
            <h4>Pasmina sarees</h4>
            <p> Price 600 </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="templates/productdetails.html" target="_blank">
          <img src="images/saree3.jpg" alt="Sorry cant load image" style="width:100%">
          <div class="caption">
            <h4>Pasmina sarees</h4>
            <p> Price 800 </p>
          </div>
        </a>
      </div>
    </div>
</div>

        
