<style type="text/css">
.style3{
    
    width: 550px;
    float:center;
    margin: 130px 350px;
    height: 500px;
    background: white;
    padding-top: 40px;
    padding-left: 40px;
    padding-right:40px;
    border-radius : 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#input1{
    width: 465px;
    height:50px;
    float:center;
    background-color : #f5f5f0;
    box-sizing : border-box;
    border-radius : 10px;
    border: none;
    padding-left: 70px;
}
</style>

<div>
<div class="style3">
    <form action ="/signup" method = "post"> 	
		<input  id="input1" name="user_name" placeholder="user_name." ng-model="user_name">	
		</br></br> 
		<input  id="input1" name="pass" placeholder="password." ng-model="pass">	   	
		</br></br>
		<input  id="input1" name="address" placeholder="address" ng-model="address" >
		<br></br>
		<input  id="input1" name="contact_no" placeholder="contact_no" ng-model="contact_no" >
		<br></br>

		<button type="button" class="btn btn-success btn-lg btn-block" ng-click = "signup()">Signup</button>
	</form>
</div>


</div>
